.DS_Store

.vagrant/
.ssh_config

*.box
*.iso
*.img
*.qcow2

virtualbox/iso/*
!virtualbox/iso/.dockerignore
!virtualbox/iso/Vagrantfile
!virtualbox/iso/Dockerfile
!virtualbox/iso/patches/
!virtualbox/iso/S10vbox

hyperv/iso/*
!hyperv/iso/.dockerignore
!hyperv/iso/Vagrantfile
!hyperv/iso/Dockerfile
!hyperv/iso/S90hyperv

contrib/vagrant/upgrade/index*
contrib/vagrant/secure/.docker/
