.DS_Store

.vagrant/
.ssh_config

*.box
*.iso
*.img
*.qcow2

virtualbox/iso/*
!virtualbox/iso/.dockerignore
!virtualbox/iso/Vagrantfile
!virtualbox/iso/Dockerfile
!virtualbox/iso/patches/

contrib/vagrant/upgrade/index*
contrib/vagrant/secure/.docker/
