<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advanced</key>
	<dict>
		<key>guest_tools</key>
		<dict>
			<key>copy_paste</key>
			<false/>
			<key>file_sharing</key>
			<false/>
		</dict>
		<key>hdpi</key>
		<integer>0</integer>
		<key>headless</key>
		<true/>
		<key>port_forwardings</key>
		<dict/>
		<key>remap_cmd</key>
		<integer>0</integer>
		<key>snapshot</key>
		<integer>0</integer>
	</dict>
	<key>display_name</key>
	<string>Barge</string>
	<key>general</key>
	<dict>
		<key>boot_device</key>
		<string>cd</string>
		<key>description</key>
		<string></string>
	</dict>
	<key>hw</key>
	<dict>
		<key>audio</key>
		<dict/>
		<key>cdrom</key>
		<array>
			<dict>
				<key>controller</key>
				<integer>1</integer>
				<key>file</key>
				<string>barge.iso</string>
				<key>id</key>
				<integer>0</integer>
				<key>media_in</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>chipset</key>
		<string>default</string>
		<key>cpu</key>
		<dict>
			<key>cores</key>
			<integer>1</integer>
			<key>sockets</key>
			<integer>1</integer>
			<key>threads</key>
			<integer>1</integer>
		</dict>
		<key>disk_controller</key>
		<array>
			<dict>
				<key>id</key>
				<integer>0</integer>
				<key>type</key>
				<string>ide</string>
			</dict>
			<dict>
				<key>id</key>
				<integer>1</integer>
				<key>model</key>
				<string>megasas</string>
				<key>type</key>
				<string>scsi</string>
			</dict>
		</array>
		<key>hd</key>
		<array>
			<dict>
				<key>boot</key>
				<true/>
				<key>controller</key>
				<integer>1</integer>
				<key>file</key>
				<string>barge-data.img</string>
				<key>id</key>
				<integer>0</integer>
				<key>size</key>
				<string>20G</string>
			</dict>
		</array>
		<key>nic</key>
		<array>
			<dict>
				<key>connection</key>
				<string>shared</string>
				<key>id</key>
				<integer>0</integer>
				<key>mac</key>
				<string>76:6d:78:ba:1d:60</string>
				<key>model</key>
				<string>e1000</string>
			</dict>
		</array>
		<key>ram</key>
		<string>1GB</string>
	</dict>
	<key>uuid</key>
	<string>BB34CD65-68D7-4D19-A290-D07BF4AF6552</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
